@using KabloomLocationsApi.Models;
<h1>hello</h1>
@foreach (Location location in Model)
{
  @location.LocationId  <br />
  @location.Name  <br />
  @location.Address  <br />
  @location.City  <br />
  @location.State  <br />
  @location.Country  <br />
  @location.FormattedAddress
}