<h1>testing plants</h1>

@using KabloomApi.Models;
Testing!
<ol>
@foreach (Plant plant in Model)
{
  <ul>
    @if (plant.image_url != null)
    {
      <li><img src= @plant.image_url></img></li>
    }
    @if (plant.Common_name != null)
    {
      <li>Common Name: @plant.Common_name</li>
    }
    @if (plant.Description != null)
    {
      <li>Description: @plant.Description</li>
    }
    @if (plant.Color != null)
    {
      <li>Color: @plant.Color</li>
    }
    <br>
    <p>Fun Facts about this plant!</p>
    <br>
    @if (plant.Vegetable != true)
    {
      <li>Is this plant a Vegetable: @plant.Vegetable</li>
    }
    @if (plant.Edible != true)
    {
      <li>Can you eat me? @plant.Edible</li>
    }
    @if (plant.Toxicity != null)
    {
      <li>How dangerous am I? @plant.Toxicity</li>
    }
    @if (@plant.Minimum_percipitation != null)
    {
      <li>Min amount of water I need per year: @plant.Minimum_percipitation</li>
    }
    @if (@plant.Maximum_percipitation != null)
    {
      <li>Max amount of water I need per year: @plant.Maximum_percipitation</li>
    }
    <br>
    @if (@plant.Minimum_temperature != null)
    {
      <li>Min tolerable temperature: @plant.Minimum_temperature</li>
    }
    @if (@plant.Maximum_temperature != null)
    {
      <li>Max tolerable temperature: @plant.Maximum_temperature</li>
    }
    <br>
    @if (@plant.Bloom_months != null)
    {
      <li>Months that I usually bloom: @plant.Bloom_months</li>
    }
    @if (@plant.Growth_months != null)
    {
      <li>Most active growth months: @plant.Growth_months</li>
    }
    @if (@plant.Growth_rate != null)
    {
      <li>How will I grow? @plant.Growth_rate</li>
    }
  </ul>
  <br>
  <p>@Html.ActionLink("Create an account", "Index", "Account")</p>
}
</ol>